//If you're reading this just fuck off :D

/*This will be my first scss file */

/*First package of variables used through the file*/

$font-family:"adelle-sans","Helvetica Neue",Arial,sans-serif; //Regular FF for the page
$white-bg: #E9EDF2;




html{
    font-family: $font-family;
}

body{
    font-family:$font-family;
    background-color: $white-bg;
    width: 100%;
    height: 100%;
    font-size: 1em;
    color: #202528;
    line-height: 1.5;
    text-align: center;
    
}




nav{
    display: inline;

    %m-i{
        display: inline;
        word-spacing: 10px;
    }

    .menu-header{
        padding: 0;
        display: inline;
        position: absolute;
        left: 200px;
        top: 10px;

        .menu-item{
            @extend %m-i;

            .menu-tab{
                display: inline-block;
            }
            
        }
        
    }
    
    .right-elements{
        display: inline;
        position: absolute;
        right: 20px;
        top: 10px;

        .menu-item{
            @extend %m-i;

            .menu-tab{
                display: inline-block;
            }
            
        }
    
    }
}


header{
    padding: 1em;
    background-color: $white-bg;
    position: static;
    left: 0;
    right: 0;
    text-align: left;
    width: 100%;
    height: 40px;

    .logo-place{
        
        text-decoration: none;

        img{
            
            float: left;
        }   
    } 
}



h1{
    font-size: 2.650em;
    text-align: center;
    font-weight: 300;
}    



h2{
    @extend h1;
    font-size: 2em;
    font-weight: 400;
}



//The buttons on right-upper side have the same defining features defined in "nav-buttons"

%nav-buttons{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    order: 1px solid black;
    word-spacing: normal;
}

.try-free{
    @extend nav;
    @extend %nav-buttons;
    background-color: #3F9BF8;
    color: #fff;
}

.sign-in{
    @extend nav;
    @extend %nav-buttons;
    background-color: white;
}





.top-page{
    text-align: center;
}

.black-boxes{
    background-color: #3F4655;
}

.main-title{
    font-weight: 300px;
}

.h2-title{
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.text{
    font-size: 1.5em;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    font-family: freight-text-pro,Georgia,sans-serif;
    text-align: center;
}

#try30days{
    background-color: #3F9BF8;
    color: #fff;
    border: 1px solid #000000;
    border-radius:5px;
    font-weight: 600;
    font-family: $font-family;
}

.credit-card{
    font-family: &font-family;
    font-weight: 400;
    font-size: .575em;
}

.bck-scrn{
    background: transparent url("deco-icons-hero.png") no-repeat;
    background-size: 1610px 250px;
}

.screenshot{
    width: 900px;
    height: 530px;
    position: relative;
    right: 80px;
}

.choice{
    text-align: center;
    display: flex;
    justify-content: center;
}

.monthly{
    width: 50%;
    border-right: 1px solid grey;
}


.server{
    width: 50%;
}

.price-button{
    color: white;
    background-color: #3092f5;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.cloud-server{
    background-color: white;
    padding: 2em 6em;
}

.customers{
    background-color: #E9EDF2;
    border-top: 1px solid rgba(0,0,0,0.15);
    text-align: center;

    .all-brands{
        width: 1300px;
        height: 130px;
    }
}



.free-month-register{
    background-color: #fff;
    padding-bottom: 6em;
    border-top: 1px solid rgba(0,0,0,0.15);
}


form{
    background-color: #e9edf2;
    border: 1px solid #1f1f1f;
    border-radius: 5px;
    width: 30%;
    margin: auto;
    padding: 2% 2% 0 2%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

.button-form{
    text-align: center;
    color: white;
    background-color: #3092f5;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: auto;
    
}

input.inform{
    width: 96%;
    color: #a8acb2;
    font-size: 1.1rem;
    padding: 8px;
    border: 1px solid #1f1f1f;
    border-radius: 5px;
}

.enjoy{
    text-align: center;
}

.active-sec{
    color: #727C8E;
    font-weight: 400;
    font-size: .850em;
}
a:visited{
    color: #727C8E;
}

footer{
    background-color: #3F4655;
    text-align: center;
    color: #fff;

    .footer-container{
        text-align: left;
        display: flex;
        margin: auto;
        max-width: 70em;

        ul{
            list-style: none;
        }

        .footer-list-heading{
            font-size: .875em;
            font-weight: 600;
            color: grey;
        }

        .footer-menu-item{
            font-weight: 600;

            .footer-menu-link{
                color: #fff;
                text-decoration: none;
                font-size: .875em;
                font-family: $font-family;
            }
        }
    }

    .footer-text{
        color: rgba(255,255,255,0.5);
        font-family: $font-family;
        text-decoration: none;
        word-spacing: 5px;       
    }    
}



.footer-link{
    color: #fff;
    text-decoration: none;
    font-size: .875em;
    font-family: adelle-sans,"Helvetica Neue",Arial,sans-serif;
}

footer, a:hover{
    color : #0F4655;
}









